#pai{
    text-align: center;
}
button{
    background-color: rgb(78, 15, 136);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

input[type="text"],

textarea {
    padding: 8px;
}