#pai{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
#adicionar, #botao2{
    background-color: rgb(78, 15, 136);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

input[type="text"],

textarea {
    padding: 8px;
}
#titulo{
    color: rgb(78, 15, 136) ;
}